/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/* variables */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  line-height: 1.5;
}
html {
  font-size: 62.5%;
}
.container {
  margin: 2% 10% 0;
  padding-bottom: 3%;
  border: 3px solid lightblue;
  border-style: none none solid solid;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Shadows Into Light'), local('ShadowsIntoLight'), url(https://fonts.gstatic.com/s/shadowsintolight/v9/UqyNK9UOIntux_czAvDQx_ZcHqZXBNQzdcD8.ttf) format('truetype');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Shadows Into Light', cursive;
  margin: 3% auto 5%;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  text-decoration: underline;
}
ul li {
  padding: 2%;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer p {
  text-align: center;
  margin-bottom: 3%;
}
p,
li {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}
article.header-images {
  display: flex;
  justify-content: space-around;
}
p.article {
  text-align: center;
}
p.main-img-attribution {
  text-align: center;
  margin: 5% auto 1%;
}
section.three-column {
  display: flex;
  justify-content: space-evenly;
  padding: 0 4%;
}
.about-my-work article {
  padding: 4%;
}
img {
  width: 100%;
}
section img.main-image {
  max-width: 90%;
  display: block;
  margin: 0 auto 3%;
}
.header-images section p {
  text-align: center;
  padding-bottom: 2%;
}
article ul li {
  width: 200px;
}
section.contact-form {
  background-color: #eee;
  margin: 3% auto;
  padding-bottom: 20px;
  width: 90%;
}
section.contact-form form {
  text-align: center;
}
table {
  margin: 2% auto 4%;
  width: 40%;
}
td {
  text-align: left;
  width: 100%;
}
td textarea,
td input {
  width: 100%;
  padding: 2%;
}
@media (max-width: 1400px) {
  img {
    padding-left: 2%;
  }
}
@media (max-width: 800px) {
  article.header-images {
    display: block;
  }
  section.three-column {
    display: block;
    width: 100%;
  }
  article ul li {
    width: 90%;
  }
}
