// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */

/* variables */
@left-margin-color: lightblue;
@a-text-decoration: none;
@a-text-decoration-hover: underline;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	line-height: 1.5;
}

html {
	font-size: 62.5%;
}

.container {
	margin: 2% 10% 0;
	padding-bottom: 3%;
	border: 3px solid @left-margin-color;
	border-style: none none solid solid;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Shadows+Into+Light&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	font-size: 4rem;
	font-family: 'Shadows Into Light', cursive;
	margin: 3% auto 5%;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

a {
	text-decoration: @a-text-decoration;
	color: #000;
}

nav a {
	font-size: 2rem;
}

a:hover {
	text-decoration: @a-text-decoration-hover;
}

ul li {
	padding: 2%;
}

.nav-ul-display {
	display: flex
}

.nav-ul-justify {
	justify-content: flex-end;
}

nav ul {
	.nav-ul-display();
	.nav-ul-justify();
}

footer ul {
	display: flex;
	justify-content: center;

	@media (max-width: 500px) {
		display: block;
		text-align: center;
	}

}

footer p {
	text-align: center;
	margin-bottom: 3%;

}

.focus {
	font-weight: bold;
	color: green;
	text-decoration: underline;
	font-size: 2rem;
}

p,
li {
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

article.header-images {
	display: flex;
	justify-content: space-around;

	@media (max-width: 800px) {
		display: block;
	}
}

p.article {
	text-align: center;
}

.main-img-attribution-text-align {
	text-align: center;
}

.main-img-attribution-margin {
	margin: 5% auto 1%;
}

p.main-img-attribution {
	.main-img-attribution-text-align();
	.main-img-attribution-margin();
}

section.three-column {
	display: flex;
	justify-content: space-evenly;
	padding: 0 4%;

	@media (max-width: 800px) {
		display: block;
		width: 100%;
	}
}

.about-my-work article {
	padding: 2% 0 4%;
}

img {
	width: 100%;

	@media (max-width: 1400px) {
		padding-left: 2%;
	}
}

section img.main-image {
	max-width: 90%;
	display: block;
	margin: 0 auto 3%;
}

.header-images section p {
	text-align: center;
	padding-bottom: 2%;
}

article ul li, .three-column article {
	width: 250px;

	@media (max-width: 800px) {
		width: 90%;
	}
}

section.contact-form {
	background-color: #eee;
	margin: 3% auto;
	padding-bottom: 20px;
	width: 90%;
}

section.contact-form form {
	text-align: center;
}

table {
	margin: 2% auto 4%;
	width: 40%;

	@media (max-width: 800px) {
		width: 70%;
	}

	@media (max-width: 500px) {
		width: 90%;
	}
}

td {
	text-align: left;
	width: 100%;
}

td textarea,
td input {
	width: 100%;
	padding: 2%;
}

.portfolio-articles {
	display: flex;
	justify-content: space-around;

	article {
		padding: 0 2%;

		p {
			text-align: justify;
		}

		button {
			margin-top: 2%;
		}
	}

}

.about-my-work article p {
	margin: 0 auto;
	width: 90%;
}

button {
	padding: 2% 8%;
	background-color: #6A6AFF;
	border-radius: 7px;
	color: white;
	width: 100%;
}